# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: ACT EverQuest DPS Plugin

on:
  push:
    branches:
      - '*'
    tags-ignore:
      - '*'
  pull_request:
    branches: [ EQDPSPlugin ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    env:
      ACTFileName: 'ACTv3-setup.exe'
      ACTDownloadURI: 'https://advancedcombattracker.com/download.php?id=56'
      EQDPSPluginUnitTestLibraryPath: '.\EQDPSPluginUnitTests\bin\Release\EQDPSPluginUnitTests.dll'
    steps:
      - uses: actions/checkout@main
      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1.1
      - name: Download ACTv3 file
        run: Invoke-WebRequest ${{env.ACTDownloadURI}} -OutFile ${{github.workspace}}\${{env.ACTFileName}}
      - name: Silent Install of ACTv3
        run: ${{github.workspace}}\${{env.ACTFileName}} /S
      - name: Setup Nuget
        uses: nuget/setup-nuget@v1
      - name: Restore nuget packages
        run: nuget restore EverQuestDPSPlugin.sln
      - name: Build solution
        run: msbuild -t:build -property:Configuration=Release EverQuestDPSPlugin.sln
      - name: Test solution
        run: '& "$(vswhere -property installationPath)\Common7\IDE\MSTest.exe" /testcontainer:${{env.EQDPSPluginUnitTestLibraryPath}}'
